//font size
$small: 0.75em;
$medium: 1.25em;
$big: 2.25em;
$huge: 3.5em;
//fonts
$f-o: "Oswald", sans-serif;
$f-w: "Work Sans", sans-serif;
//colors
$s: #feac24;
//sin
$o: #fd7905;
//orange
$c: #3e7194;
//calypso
$sh: #54b4dc;
//shakespeare
$w: #fdfdfd;
//white
$s-1: #fed28a;
$s-2: #fec566;
$s-3: #feb743;
$s-4: #fdaa1f;
$s-5: #f89b01;
$s-6: #d58500;
$s-7: #b16f00;
$s-8: #8e5800;
$s-9: #6a4200;
$s-10: #472c00;
$o-1: #fec08a;
$o-2: #fdad67;
$o-3: #fd9a43;
$o-4: #fd8720;
$o-5: #f77501;
$o-6: #d46401;
$o-7: #b15301;
$o-8: #8d4201;
$o-9: #6a3200;
$o-10: #462100;
$c-1: #acc8dc;
$c-2: #93b8d1;
$c-3: #7aa7c7;
$c-4: #6097bc;
$c-5: #4986b0;
$c-6: #3f7396;
$c-7: #34607d;
$c-8: #2a4c64;
$c-9: #1f394b;
$c-10: #152632;
$sh-1: #9dd4eb;
$sh-2: #7fc7e5;
$sh-3: #62bade;
$sh-4: #44add8;
$sh-5: #2a9ecf;
$sh-6: #2488b1;
$sh-7: #1e7194;
$sh-8: #185a76;
$sh-9: #124458;
$sh-10: #0c2d3b;
$w-1: #c4c4c4;
$w-2: #b2b2b2;
$w-3: #a0a0a0;
$w-4: #8e8e8e;
$w-5: #7c7c7c;
$w-6: #6b6b6b;
$w-7: #595959;
$w-8: #474747;
$w-9: #353535;
$w-10: #232323;
